In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
import sklearn.utils as utils

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv("data/Final_cleaned_up_data.csv")
df = df.drop(['Unnamed: 0'], axis=1)
df = pd.get_dummies(df, columns=['LU','STRUCTURE_CLASS','OWN_OCC','RorU','AC'])
print("There are {} entries in the dataframe".format(len(df)))
df.head()

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

There are 316333 entries in the dataframe

,PID,ZIPCODE,AV_TOTAL,YR_BUILT,LIVING_AREA,HEAT_TYP,Year,LU_A,LU_CD,LU_E,...,STRUCTURE_CLASS_R,OWN_OCC_N,OWN_OCC_Y,RorU_R,RorU_U,AC_C,AC_D,AC_E,AC_F,AC_N
0,2205668000_,2135,604700,1920,2834,W,2014,0,0,0,...,1,1,0,1,0,0,0,0,0,1
1,2205664000_,2135,567000,1920,2952,F,2014,0,0,0,...,1,0,1,1,0,0,0,0,0,1
2,2205663001_,2135,477600,1920,2390,W,2014,0,0,0,...,1,0,1,1,0,0,0,0,0,1
3,2205663000_,2135,442700,1920,2347,W,2014,0,0,0,...,1,0,1,1,0,0,0,0,0,1
4,2205662020_,2135,549000,1910,2545,W,2014,0,0,0,...,1,0,1,1,0,0,0,0,0,1

In [3]:
X = df[['YR_BUILT', 'LIVING_AREA',
        'LU_A','LU_CD','LU_E','LU_EA','LU_R1','LU_R2','LU_R3','LU_RC',
        'STRUCTURE_CLASS_1','STRUCTURE_CLASS_A','STRUCTURE_CLASS_B',
        'STRUCTURE_CLASS_C','STRUCTURE_CLASS_D','STRUCTURE_CLASS_R',
        'OWN_OCC_N','OWN_OCC_Y',
        'RorU_R','RorU_U',
        'AC_C','AC_D','AC_E','AC_F','AC_N']]
y = df[[ 'HEAT_TYP']]

X = X.as_matrix()
y = y.as_matrix()
X, y = utils.shuffle(X, y, random_state=1)

train_set_size = 1000
X_train = X[:train_set_size]  # selects first 100 rows (examples) for train set
y_train = y[:train_set_size]
X_test = X[train_set_size:]   # selects from row 100 until the last one for test set
y_test = y[train_set_size:]

svc = svm.SVC(kernel='linear')
svc.fit(X_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [4]:
y_pred_test = svc.predict(X_test)
print("Accuracy of SVM test set:", svc.score(X_test, y_test))

Accuracy of SVM test set: 0.721783003999